/*=== colors ===*/

$mainBg:          #111111;
$secondBg:        #222222;
$thirdBg:         #161616;
$mainText:        #ffffff; 
$secondaryText:   #fefefe;   
$darkenText:      #bdc3c7;
$accentLogo:      #f80759;
$accentRed:       #ed213a;
$accentBlue:      #12c2e9;
$border:          #222222;
$gradStart:       #d1003a;
$gradEnd:         #e60114;

/*=== fonts ===*/

$mainFont:       'Lato', sans-serif;

$h1:             60px;
$h2:             30px;
$h3:             22px;

$subtitle:       18px;

$text:           14px;

$lineHeight:     24px;





